* {
padding: 0;
margin: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin-bottom: .5em 0 1em;
}

    #grid {
    margin: 1em auto 0;
    border-spacing: 0;
    border-collapse: collapse;
    }

    #grid td {
    border : 1px solid gray;
 
    }

    #grid input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 40px;
    height: 40px;
    background: white;
    }

    #grid input[type="checkbox"]:checked {
                    background: black;
    /*for Firefox*/ box-shadow: 0 0 0 99px black inset;
    }

    button, .button {
        padding: .4em .6em;
        background: linear-gradient(hsla(0,0%,100%,.3),hsla(0,0%,100%,0)) hsl(80,80%,35%);
        border: 1px solid rgba(0, 0,0, .2);
        border-radius: .3em;
        box-shadow: 0 1px 0 hsla(0,0%,100%, .7) inset,0 .15em .1em -.1em rgba(0, 0,0,.3);
        font: inherit;
        font-weight: bold;
        color: white;
    }

